<p>
    Grams of:
    <br />
    Fat: <input type="number" width="10" id="dtKetoFat" name="dtKetoFat" [(ngModel)]="ketoFatGrams"/>
    Carb: <input type="number" width="10" id="dtKetoCarb" name="dtKetoCarb" [(ngModel)]="ketoCarbGrams"/>
    Fiber: <input type="number" width="10" id="dtKetoFiber" name="dtKetoFiber" [(ngModel)]="ketoFiberGrams"/>
    Protein: <input type="number" width="10" id="dtKetoProtein" name="dtKetoProtein" [(ngModel)]="ketoProteinGrams"/>
    <button (click)="this.calcKeto()">Calculate</button><br />
    Is keto? 
    <span *ngIf="isKeto" style="color:green;"><b>KETO</b></span>&nbsp;
    <span *ngIf="isKetoHiPro" style="color:green;"><b>Hi-protein Keto</b>
    </span><span *ngIf="!isKeto && !isKetoHiPro" style="color:red"><b>Not Keto</b></span>    
</p>
