<div *ngIf="category=='Project Recurrences' || category=='Recurrences'">
  <app-dt-recurrence-item [item]="item"></app-dt-recurrence-item>
</div>

<!--Plan Items-->
<div *ngIf="category=='Project Plan Items' || category=='Propagated Items'" class="dtGrid-4P7P35P15P15P15P9P">
    <div class="dtGridColumn-1 dtBg-darkgray dtBorder-R dtBorder-B dtPad-LR">
        &nbsp;
    </div>
    <div (click)="test()" class="dtGridColumn-2 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.project?.shortCode}}
    </div>
    <div class="dtGridColumn-3 dtBorder-R dtBorder-B dtPad-LR"
        tooltip="{{item?.note == undefined || item?.note == null || item?.note == 'null'? '' : tooltipFormatted(item?.note)}}" 
    >
        {{item?.title}}<span *ngIf="item?.note != undefined && item?.note != null && item?.note != 'null' && item?.note != ''" style="color: red">*</span>
    </div>
    <div class="dtGridColumn-4 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.dayString}}
    </div>
    <div class="dtGridColumn-5 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.startTime}}
    </div>
    <div class="dtGridColumn-6 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.durationString}}
    </div>
    <div class="dtGridColumn-7 dtBg-darkgray dtBorder-B dtPad-LR">
        <span class="dtFont-White" *ngIf="dtPlanner.updateStatus != ''">{{dtPlanner.updateStatus}}</span>
        <img *ngIf="item?.parent && dtPlanner.updateStatus == ''" src="./assets/icons/propagate.png" 
        tooltip="propagate" alt="propagate" (click)="dtPlanner.propagateRecurrence(item?.id!)" 
        style="width: 15px; height: 15px; border:2px solid gray;">
    </div>
</div>

