<div *ngIf="category=='Project Recurrences'" class="dtGrid-7P33P13P13P13P13P8P">
    <div class="dtGridColumn-1 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.projectMnemonic}}
    </div>
    <div class="dtGridColumn-2 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.title}}
    </div>
    <div class="dtGridColumn-3 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.startTime}}
    </div>
    <div class="dtGridColumn-4 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.durationString}}
    </div>
    <div class="dtGridColumn-5 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.recurrenceName}}
    </div>
    <div class="dtGridColumn-6 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.recurrenceData}}
    </div>
    <div class="dtGridColumn-7 dtBg-darkgray dtBorder-B dtPad-LR">
        &nbsp;
    </div>
</div>
<div *ngIf="category=='Project Plan Items'" class="dtGrid-4P7P35P15P15P15P9P">
    <div class="dtGridColumn-1 dtBg-darkgray dtBorder-R dtBorder-B dtPad-LR">
        &nbsp;
    </div>
    <div class="dtGridColumn-2 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.projectMnemonic}}
    </div>
    <div class="dtGridColumn-3 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.title}}
    </div>
    <div class="dtGridColumn-4 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.dayString}}
    </div>
    <div class="dtGridColumn-5 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.startTime}}
    </div>
    <div class="dtGridColumn-6 dtBorder-R dtBorder-B dtPad-LR">
        {{item?.durationString}}
    </div>
    <div class="dtGridColumn-7 dtBg-darkgray dtBorder-B dtPad-LR">
        &nbsp;
    </div>
</div>

