<div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="hideCredentialsForm()">&times;</span>
      <h2>Set Your Password</h2>
    </div>
    <div class="modal-body">
      <p class="componentHeading">You have not set a password.</p>
      <div *ngIf="!doNotSet">
      <p>Enter your password: <input type="password" id="pwInput" [(ngModel)]="newPW" /></p>
      <p><button (click)="setPassword()">Set my password</button></p>
      <hr />
      </div>
      <p><input type="checkbox" id="ckDoNotSet" [(ngModel)]="doNotSet"> <span> I don't want to ever set a password.</span></p>
      <p *ngIf="doNotSet"><button (click)="setDoNotSetPWFlag()">Turn on "Do Not Set Password" flag</button> <br />
        Uncheck box to cancel.
      </p>
    </div>
    <div class="modal-footer">
      <h3>DanTech (2023)</h3>
    </div>
  </div>
