<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;    
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  ::-webkit-datetime-edit-second-field {
    background: $color-white;
    color: transparent;
    margin-left: -3px;
    position: absolute;
    width: 1px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }

    .dtContainer {
      width: 80%;
      color: blue !important;
    }
    
    .dtTable {
      display: table;      
      border-collapse: collapse;
    }

    .dtTableRow {
      display: table-row;
      border: 2px solid black;
    }

    dt.TableCell {
      display: table-cell;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .dtPadLR {
    padding-left: 10px;
    padding-right: 10px;
  }

  .dtPadLR-M {
    padding-left: 2px;
    padding-right: 2px;
  }

  .dtBorderB {
    border-bottom: 2px solid black;
  }

  .dtBorderR {
    border-right: 2px solid black;
  }

  .dtBorderL {
    border-left: 2px solid black;
  }

  .dtBorderL {
    border-left: 2px solid black;
  }

  .dtCen {
    text-align: center;
  }
</style>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">    
      <h2>DanTech Daily Planner (v.1.0.3)</h2>
  </div>
  <div *ngIf="notMobile() else mobile">
    <div *ngIf="(isLoggedIn() && loginInfo != null && loginInfo.email != null && loginInfo.email.length > 0) else noValidEmail" 
      style="display: grid; grid-template-columns: 25vw 24vw 24vw 24vw; column-gap: 5px; width: 98vw; border: 2px solid black" >    
      <div class="dtPadLR dtBorderB" style="grid-column: 1 / span 4;">
        <p>Logged in as <span (change)="emailChanged()">{{loginInfo.email}}</span><br />
          <button (click)="login()">Change login</button>
        </p>
      </div>
      <div style="grid-column: 1 / span 2; border-right: 2px solid black;">
        <div style="display: grid; grid-template-columns: auto;">
          <div class="dtPadLR dtBorderB" style="grid-column: 1;">
            <h4>Items</h4>
          </div>
          <div style="grid-column: 1; " *ngFor="let item of planItems">
            <div *ngIf="item.recurrance == undefined || item.recurrance < 1" style="border-bottom: none;">
              <div *ngIf="planItemDateChanged(item.day)" style="display: grid; grid-template-columns: auto;">
                <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 2">{{fullDate(item.day)}}</div>
              </div>
              <div style="display: grid; grid-template-columns: 4% 7% 62% 10% 10% 7%;">
                <div class="dtCen dtBorderR dtBorderB" style="grid-column-start: 1; grid-column-end: 2; background-color: gray;">
                  <input [checked]="item.completed" tooltip="toggle complete" (change)="togglePlanItemCompleted(item.id, $event)" type="checkbox" />
                </div>
                <div class="dtCen dtPadLR dtBorderR dtBorderB" style="grid-column-start: 2; grid-column-end: 3; background-color: {{ item.project?.colorString ?? 'white'}}; ">{{item.project?.shortCode ?? ""}}</div>
                <div class="dtPadLR dtBorderR dtBorderB" style="grid-column-start: 3; grid-column-end: 4; background-color: {{itemStatus(item)}};">{{item.title}}</div>
                <div class="dtCen dtPadLR dtBorderR dtBorderB" style="grid-column-start: 4; grid-column-end: 5; background-color: {{itemStatus(item)}};">{{item.startTime}}</div>
                <div class="dtCen dtPadLR dtBorderR dtBorderB" style="grid-column-start: 5; grid-column-end: 6;">{{item.durationString}}</div>
                <div class="dtCen dtBorderB" style="grid-column-start: 6; background-color: gray;">                  
                  <img src="./assets/icons/next.png" tooltip="next day" alt="next day" (click)="movePlanItemToNextDay(item.id)" style="width: 15px; height: 15px; border:2px solid gray">
                  <img src="./assets/icons/delete.jpg" tooltip="delete" alt="delete" (click)="deletePlanItem(item.id)" style="width: 15px; height: 15px; border:2px solid gray">
                </div>
            </div>
          </div>
        </div> 
      </div>
      </div>
      <div style="grid-column: 3 / span 1; border-right: 2px solid black; border-left: 2px solid black;">
        <div *ngIf="plannerInitializedFlag" style="display: grid; grid-template-columns: 17% 34% 15% 34%; background-color: lightblue;">
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <h4>Add Item <span style="color: red;">{{this.updateStatus}}</span></h4>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Title:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="text" id="newPlanItemTitle" (change)="clearUpdateStatus()" name="newPlanItemTitle" [(ngModel)]="newPlanItemTitle" />
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Project:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <select id="newPlanItemProjectId" name="newPlanItemProjectId" [(ngModel)]="newPlanItemProjectId" > 
              <option style="background-color: {{proj.colorString}};" *ngFor="let proj of projects" [ngValue]="proj.id">{{proj.title}}</option>
              </select>          
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">Time:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 1">
            <input type="time" id="newPlanItemStartTime" name="newPlanItemStartTime" [ngModel]="newPlanItemStartTime" (ngModelChange)="newPlanItemStartTime = newPlanItemEndTime = $event"/>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 3 /span 1;"> -to-</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 4 /span 1">
            <input type="time" id="newPlanItemEndTime" name="newPlanItemEndTime" [ngModel]="newPlanItemEndTime" (ngModelChange)="newPlanItemEndTime = $event"/>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">Start:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="date" id="newPlanItemStart" name="newPlanItemStart"[value]="newPlanItemStartDate" [ngModel]="newPlanItemStartDate | date: 'yyyy-MM-dd'" (ngModelChange)="newPlanItemStartDate = newPlanItemEndDate = $event"/>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">End:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="date" id="newPlanItemEnd" name="newPlanItemEnd" [ngModel]="newPlanItemEndDate | date: 'yyyy-MM-dd'" (ngModelChange)="newPlanItemEndDate = $event"/>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">Priority:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="text" id="newPlanItemPriority" name="newPlanItemPriority" [(ngModel)]="newPlanItemPriority" />
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <span>Notes:</span><br /><textarea style="width: 100%;" rows="4" id="newPlanItemNote" name="newPlanItemNote" [(ngModel)]="newPlanItemNote" placeholder="Notes"></textarea>          
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <input [checked]="newPlanItemIsRecurrance" tooltip="toggle complete" (change)="toggleIsRecurrance($event)" type="checkbox" /> Recurring?
          </div>
          <div *ngIf="newPlanItemIsRecurrance" class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <select id="newPlanItemRecurranceId" name="newPlanItemRecurranceId" [(ngModel)]="newPlanItemRecurranceId" >                             
              <option *ngFor="let r of recurrances" [ngValue]="r.id">{{r.title}}</option>                          
            </select>                                       
          </div>
          <div *ngIf="newPlanItemIsRecurrance && (newPlanItemRecurranceId == 1)" class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <div style="display: grid; grid-template-columns: 5% 13% 13% 13% 13% 13% 13% 13% 4%;">
              <div class="dtBorderR" style="grid-column: 1 /span 1;"></div>
              <div class="dtBorderR" style="grid-column: 2 /span 1; align-items: center; text-align: center;">S</div>
              <div class="dtBorderR" style="grid-column: 3 /span 1; align-items: center; text-align: center;">M</div>
              <div class="dtBorderR" style="grid-column: 4 /span 1; align-items: center; text-align: center;">T</div>
              <div class="dtBorderR" style="grid-column: 5 /span 1; align-items: center; text-align: center;">W</div>
              <div class="dtBorderR" style="grid-column: 6 /span 1; align-items: center; text-align: center;">Th</div>
              <div class="dtBorderR" style="grid-column: 7 /span 1; align-items: center; text-align: center;">F</div>
              <div class="dtBorderR" style="grid-column: 8 /span 1; align-items: center; text-align: center;">Sa</div> 
              <div class="" style="grid-column: 9 /span 1;"></div>
                           
              <div class="dtBorderR" style="grid-column: 1 /span 1;"></div>
              <div class="dtBorderR" style="grid-column: 2 /span 1; align-items: center; text-align: center;">
                <input type="checkbox" id="recurranceFilterSunday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceSunday" />
              </div>
              <div class="dtBorderR" style="grid-column: 3 /span 1; align-items: center; text-align: center;">
                <input type="checkbox" id="recurranceFilterMonday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceMonday" />
              </div>
              <div class="dtBorderR" style="grid-column: 4 /span 1; align-items: center; text-align: center;">
                <input type="checkbox"id="recurranceFilterTuesday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceTuesday" />
              </div>
              <div class="dtBorderR" style="grid-column: 5 /span 1; align-items: center; text-align: center;">
                <input type="checkbox" id="recurranceFilterWednesday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceWednesday" />
              </div>
              <div class="dtBorderR" style="grid-column: 6 /span 1; align-items: center; text-align: center;">
                <input type="checkbox" id="recurranceFilterThursday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceThursday" />
              </div>
              <div class="dtBorderR" style="grid-column: 7 /span 1; align-items: center; text-align: center;">
                <input type="checkbox" id="recurranceFilterFriday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceFriday" />
              </div>
              <div class="dtBorderR" style="grid-column: 8 /span 1; align-items: center; text-align: center;">
                <input type="checkbox" id="recurranceFilterSunday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceSaturday" />
              </div>              
              <div class="" style="grid-column: 9 /span 1;"></div>              
            </div>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <button [disabled]="updateStatus == '' ? null : 'disabled'" (click)="addPlanItem()">Add Item</button>
          </div>
        </div>
        
        <br />

        <div *ngIf="(projects && projects.length > 0) else noProjects" style="display: grid; grid-template-columns: 100%; border-top: 2px solid black;">
          <div style="display: grid; grid-template-columns: 100%;">
            <div class="dtPadLR dtBorderB" style="grid-column: 1;">
              <h4>Projects</h4>
            </div>
            <div class="dtBorderB" style="grid-column: 1;" *ngFor="let project of projects">
              <div style="display: grid; grid-template-columns: 10% 90%;">
                <div class="dtPadLR dtBorderR" style="grid-column: 1 /span 1; background-color: {{project.colorString}};"><span>&nbsp;</span></div>
                <div class="dtPadLR" style="grid-column: 2 /span 1; background-color: {{project.statusObj.colorString}}">{{project.title}}</div>
              </div>
            </div>
          </div>
        </div>

        <br />
        
        <div *ngIf="plannerInitializedFlag" style="display: grid; grid-template-columns: 30% 21% 15% 34%; border-top: 2px solid black; background-color: lightgoldenrodyellow;">
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <h4>Add Project</h4>
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Title:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="text" id="newPlanItemTitle" name="newPlanItemTitle" [(ngModel)]="newProjectTitle" />
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Short Code:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="text" id="newPlanItemShortCode" name="newPlanItemShortCode" [(ngModel)]="newProjectShortCode" />
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Status:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <select id="newProjectStatus" name="newProjectStatus" [(ngModel)]="newProjectStatusId" >                             
              <option *ngFor="let s of projectStati" [ngValue]="s.id" style="background-color: {{s.colorString}} ;">{{s.title}}</option>                          
            </select>                                         
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Color:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <select id="newProjectColorCodeId" name="newProjectColorCodeId" [(ngModel)]="newProjectColorCodeId" >                             
              <option *ngFor="let c of projectColorCodes" [ngValue]="c.id" style="background-color: {{c.title}};">{{c.title}}</option>                          
            </select>                                         
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Priority:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="text" id="newProjectPriority" name="newProjectPriority" [(ngModel)]="newProjectPriority" />
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Sort Order:</div>
          <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
            <input type="text" id="newProjectSortOrder" name="newProjectSortOrder" [(ngModel)]="newProjectSortOrder" />
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <span>Notes:</span><br /><textarea style="width: 100%;" rows="4" id="newProjectNotes" name="newProjectNotes" [(ngModel)]="newProjectNotes" placeholder="Notes"></textarea>          
          </div>
          <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
            <button (click)="addProject()">Add Project</button>
          </div>      
        </div>
          
      </div>
      <div style="grid-column: 4 / span 1; border-left: 2px solid black; border-right: 2px solid black;">
          Responsive area
      </div> 
    </div>
  </div>
  <div>
    <button (click)="test()">Test</button>
    <p>{{notMobile()}}</p>    
  </div>

    <ng-template #mobile>
      <div *ngIf="(isLoggedIn() && loginInfo.email.length > 0) else noValidEmail" style="display: grid; grid-template-columns: 100%; column-gap: 2px; width: 98vw; border: 2px solid black" >    
        <div class="dtPadLR dtBorderB" style="grid-column: 1 / span 1;">
          <p>Logged in as <span (change)="emailChanged()">{{loginInfo.email}}</span><br />
            <button (click)="login()">Change login</button>
          </p>
        </div>
        <div *ngIf="planItems.length > 0 else emptyItems" style="grid-column: 1 / span 1; border-right: 2px solid black;">
          <div style="display: grid; grid-template-columns: auto;">
            <div class="dtPadLR dtBorderB" style="grid-column: 1;">
              <h4>Items</h4>
            </div>
            <div style="grid-column: 1; " *ngFor="let item of planItems">
              <div *ngIf="item.recurrance == undefined || item.recurrance < 1" style="border-bottom: none;">
                <div *ngIf="planItemDateChanged(item.day)" style="display: grid; grid-template-columns: auto;">
                  <div class="dtPadLR-M dtBorderB" style="grid-column: 1">{{fullDate(item.day)}}</div>
                </div>
                <div style="display: grid; grid-template-columns: 7% 9% 45% 12% 12% 14%;">
                  <div class="dtCen dtBorderR dtBorderB" style="grid-column-start: 1; grid-column-end: 2; background-color: gray;">
                    <input [checked]="item.completed" tooltip="toggle complete" (change)="togglePlanItemCompleted(item.id, $event)" type="checkbox" />
                  </div>
                  <div class="dtCen dtPadLR-M dtBorderR dtBorderB" style="grid-column-start: 2; grid-column-end: 3; background-color: {{ item.project?.colorString ?? 'white'}}; ">{{item.project?.shortCode ?? ""}}</div>
                  <div class="dtPadLR-M dtBorderR dtBorderB" style="grid-column-start: 3; grid-column-end: 4; background-color: {{itemStatus(item)}};">{{item.title}}</div>
                  <div class="dtCen dtPadLR-M dtBorderR dtBorderB" style="grid-column-start: 4; grid-column-end: 5; background-color: {{itemStatus(item)}};">{{item.startTime}}</div>
                  <div class="dtCen dtPadLR-M dtBorderR dtBorderB" style="grid-column-start: 5; grid-column-end: 6;">{{item.durationString}}</div>
                  <div class="dtCen dtBorderB" style="grid-column-start: 6; background-color: gray;">                  
                    <img src="./assets/icons/next.png" tooltip="next day" alt="next day" (click)="movePlanItemToNextDay(item.id)" style="width: 15px; height: 15px; border:2px solid gray">
                    <img src="./assets/icons/delete.jpg" tooltip="delete" alt="delete" (click)="deletePlanItem(item.id)" style="width: 15px; height: 15px; border:2px solid gray">
                  </div>
              </div>
            </div>
          </div> 
          </div>
        </div>

        <div style="grid-column: 1 /span 1; border-right: 2px solid black; border-left: 2px solid black;">&nbsp;</div>

        <div style="grid-column: 1 /span 1; border-right: 2px solid black; border-left: 2px solid black; border-top: 2px solid black;">
          <div *ngIf="plannerInitializedFlag" style="display: grid; grid-template-columns: auto auto auto auto; background-color: lightblue;">
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <h4>Add Item <span style="color: red;">{{this.updateStatus}}</span></h4>
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Title:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="text" id="newPlanItemTitle" name="newPlanItemTitle" [(ngModel)]="newPlanItemTitle" />
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Project:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <select id="newPlanItemProjectId" name="newPlanItemProjectId" [(ngModel)]="newPlanItemProjectId" > 
                <option style="background-color: {{proj.colorString}};" *ngFor="let proj of projects" [ngValue]="proj.id">{{proj.title}}</option>
                </select>          
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">Time:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 1">
              <input type="time" id="newPlanItemStartTime" name="newPlanItemStartTime" [ngModel]="newPlanItemStartTime" (ngModelChange)="newPlanItemStartTime = newPlanItemEndTime = $event"/>
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 3 /span 1;"> -to-</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 4 /span 1">
              <input type="time" id="newPlanItemEndTime" name="newPlanItemEndTime" [ngModel]="newPlanItemEndTime" (ngModelChange)="newPlanItemEndTime = $event"/>
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">Start:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="date" id="newPlanItemStart" name="newPlanItemStart"[value]="newPlanItemStartDate" [ngModel]="newPlanItemStartDate | date: 'yyyy-MM-dd'" (ngModelChange)="newPlanItemStartDate = newPlanItemEndDate = $event"/>
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">End:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="date" id="newPlanItemEnd" name="newPlanItemEnd" [ngModel]="newPlanItemEndDate | date: 'yyyy-MM-dd'" (ngModelChange)="newPlanItemEndDate = $event"/>
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1">Priority:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="text" id="newPlanItemPriority" name="newPlanItemPriority" [(ngModel)]="newPlanItemPriority" />
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <span>Notes:</span><br /><textarea style="width: 100%;" rows="4" id="newPlanItemNote" name="newPlanItemNote" [(ngModel)]="newPlanItemNote" placeholder="Notes"></textarea>          
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <input [checked]="newPlanItemIsRecurrance" tooltip="toggle complete" (change)="toggleIsRecurrance($event)" type="checkbox" /> Recurring?
            </div>
            <div *ngIf="newPlanItemIsRecurrance" class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <select id="newPlanItemRecurranceId" name="newPlanItemRecurranceId" [(ngModel)]="newPlanItemRecurranceId" >                             
                <option *ngFor="let r of recurrances" [ngValue]="r.id">{{r.title}}</option>                          
              </select>                                       
            </div>
            <div *ngIf="newPlanItemIsRecurrance && (newPlanItemRecurranceId == 1)" class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <div style="display: grid; grid-template-columns: 5% 13% 13% 13% 13% 13% 13% 13% 4%;">
                <div class="dtBorderR" style="grid-column: 1 /span 1;"></div>
                <div class="dtBorderR" style="grid-column: 2 /span 1; align-items: center; text-align: center;">S</div>
                <div class="dtBorderR" style="grid-column: 3 /span 1; align-items: center; text-align: center;">M</div>
                <div class="dtBorderR" style="grid-column: 4 /span 1; align-items: center; text-align: center;">T</div>
                <div class="dtBorderR" style="grid-column: 5 /span 1; align-items: center; text-align: center;">W</div>
                <div class="dtBorderR" style="grid-column: 6 /span 1; align-items: center; text-align: center;">Th</div>
                <div class="dtBorderR" style="grid-column: 7 /span 1; align-items: center; text-align: center;">F</div>
                <div class="dtBorderR" style="grid-column: 8 /span 1; align-items: center; text-align: center;">Sa</div> 
                <div class="" style="grid-column: 9 /span 1;"></div>
                             
                <div class="dtBorderR" style="grid-column: 1 /span 1;"></div>
                <div class="dtBorderR" style="grid-column: 2 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox" id="recurranceFilterSunday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceSunday" />
                </div>
                <div class="dtBorderR" style="grid-column: 3 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox" id="recurranceFilterMonday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceMonday" />
                </div>
                <div class="dtBorderR" style="grid-column: 4 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox"id="recurranceFilterTuesday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceTuesday" />
                </div>
                <div class="dtBorderR" style="grid-column: 5 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox" id="recurranceFilterWednesday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceWednesday" />
                </div>
                <div class="dtBorderR" style="grid-column: 6 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox" id="recurranceFilterThursday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceThursday" />
                </div>
                <div class="dtBorderR" style="grid-column: 7 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox" id="recurranceFilterFriday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceFriday" />
                </div>
                <div class="dtBorderR" style="grid-column: 8 /span 1; align-items: center; text-align: center;">
                  <input type="checkbox" id="recurranceFilterSunday" (change)="setRecurranceFilter($event)" [(ngModel)]="recurranceSaturday" />
                </div>              
                <div class="" style="grid-column: 9 /span 1;"></div>              
              </div>
            </div>
             <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <button [disabled]="updateStatus == '' ? null : 'disabled'" (click)="addPlanItem()">Add Item</button>
            </div>
          </div>
          
          <br />
  
          <div *ngIf="(projects && projects.length > 0) else noProjects" style="display: grid; grid-template-columns: 100%; border-top: 2px solid black;">
            <div style="display: grid; grid-template-columns: 100%;">
              <div class="dtPadLR dtBorderB" style="grid-column: 1;">
                <h4>Projects</h4>
              </div>
              <div class="dtBorderB" style="grid-column: 1;" *ngFor="let project of projects">
                <div style="display: grid; grid-template-columns: auto auto;">
                  <div class="dtPadLR dtBorderR" style="grid-column: 1 /span 1; background-color: {{project.colorString}};"><span>&nbsp;</span></div>
                  <div class="dtPadLR" style="grid-column: 2 /span 1; background-color: {{project.statusObj.colorString}}">{{project.title}}</div>
                </div>
              </div>
            </div>
          </div>
  
          <br />
          
          <div *ngIf="plannerInitializedFlag" style="display: grid; grid-template-columns: auto auto auto auto; border-top: 2px solid black; background-color: lightgoldenrodyellow;">
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <h4>Add Project</h4>
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Title:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="text" id="newPlanItemTitle" name="newPlanItemTitle" [(ngModel)]="newProjectTitle" />
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Short Code:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="text" id="newPlanItemShortCode" name="newPlanItemShortCode" [(ngModel)]="newProjectShortCode" />
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Status:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <select id="newProjectStatus" name="newProjectStatus" [(ngModel)]="newProjectStatusId" >                             
                <option *ngFor="let s of projectStati" [ngValue]="s.id" style="background-color: {{s.colorString}} ;">{{s.title}}</option>                          
              </select>                                         
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Color:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <select id="newProjectColorCodeId" name="newProjectColorCodeId" [(ngModel)]="newProjectColorCodeId" >                             
                <option *ngFor="let c of projectColorCodes" [ngValue]="c.id" style="background-color: {{c.title}};">{{c.title}}</option>                          
              </select>                                         
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Priority:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="text" id="newProjectPriority" name="newProjectPriority" [(ngModel)]="newProjectPriority" />
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 1;">Sort Order:</div>
            <div class="dtPadLR dtBorderB" style="grid-column: 2 /span 3;">
              <input type="text" id="newProjectSortOrder" name="newProjectSortOrder" [(ngModel)]="newProjectSortOrder" />
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <span>Notes:</span><br /><textarea style="width: 100%;" rows="4" id="newProjectNotes" name="newProjectNotes" [(ngModel)]="newProjectNotes" placeholder="Notes"></textarea>          
            </div>
            <div class="dtPadLR dtBorderB" style="grid-column: 1 /span 4;">
              <button (click)="addProject()">Add Project</button>
            </div>      
          </div>            
        </div>

        <div style="grid-column: 1 /span 1; border-right: 2px solid black; border-left: 2px solid black;">&nbsp;</div>

        <div style="grid-column: 1 /span 1; border: 2px solid black">
            Responsive area
        </div> 
      </div>
    </ng-template>
    
    <ng-template #emptyItems>
      <div style="grid-column: 1 /span 1; border: 2px solid black;">No items</div>
    </ng-template>

    <ng-template #emptyItemResponsive>
      <div style="grid-column: 2 /span 1; border: 2px solid black;">&nbsp;</div>
    </ng-template>

    <ng-template #emptyDiv>
      <div>&nbsp;</div>
    </ng-template>

    <ng-template #noProjects>
      <div style="display: table-row; border: 2px solid black">
        <div style="display: table-cell; padding-left: 10px; padding-right: 10px;">
          <h4>Projects</h4>
        </div>
      </div>                  
      <div style="display: table; border-collapse: collapse; width: 100%;">        
        <div style="display: table-row; border: 2px solid black">          
          <div style="display: table-cell; padding-left: 10px; padding-right: 10px; width: 100%;">No Projects</div>        
        </div>      
      </div>      
    </ng-template>

    <ng-template #noValidEmail>     
          <p>No login credentials<br />
            <button (click)="login()">Log in</button>
          </p>
    </ng-template>
 </div>
  <router-outlet></router-outlet>
