<div>
  <div *ngIf="dtPlanner.planItems.length > 0 && this.validate()">
  </div>
</div>
<div class="dtGridColumn-1" *ngFor="let item of dtPlanner.planItems">
    <div *ngIf="item.recurrence == undefined || item.recurrence < 1">
      <div *ngIf="planItemDateChanged(item.day)">
        <div [ngClass]="data.isMobile ? 'dtGrid-7P10P33P15P15P20P' : 'dtGrid-4P7P50P15P15P9P'" *ngIf="dtPlanner.firstPlanItemDate == item.dayString">          
          <div class="dtCen dtGridColumn-1 dtBorder-R dtBorder-B" style="background-color: gray;"> &nbsp; </div>
          <div class="dtCen dtGridColumn-2 dtBorder-R dtBorder-B" [ngClass]="data.isMobile ? '' : 'dtPad-LR'">Proj</div>
          <div class="dtCen dtGridColumn-3 dtPad-LR dtBorder-R dtBorder-B" >Title</div>
          <div class="dtCen dtGridColumn-4 dtBorder-R dtBorder-B" [ngClass]="data.isMobile ? '' : 'dtPad-LR'">Start</div>
          <div class="dtCen dtGridColumn-5 dtBorder-R dtBorder-B" [ngClass]="data.isMobile ? '' : 'dtPad-LR'">Dur</div>
          <div class="dtCen dtGridColumn-6 dtBorder-B" style="background-color: gray;"> &nbsp; </div>
        </div>
        <div class="dtPad-LR dtGridColumn-1s3 dtBorder-B">{{fullDate(item.day)}}
          <span class="dtPad-DeepL" *ngIf="dtPlanner.firstPlanItemDate == item.dayString"><button (click)="dtPlanner.adjust()">Adjust</button></span>
        </div>
      </div>
      <app-dt-date-separated-plan-item [item]="item"></app-dt-date-separated-plan-item>
    </div>
</div> 

