<div class="dtGrid-7P33P12P12P17P12P7P">
  <div class="dtGridColumn-1 dtBorder-R dtBorder-B dtPad-LR">    
    <div *ngIf="!(data.fieldBeingEdited == 'project' && data.itemBeingEdited == item?.id)" 
      (click)="data.editPlanItemStart('project', item)"        
    >
      {{item?.project?.shortCode}}
    </div>
    <div *ngIf="data.fieldBeingEdited == 'project' && data.itemBeingEdited == item?.id">
      <input (change)="dtPlanner.changePlanItem($event, item, data.editValueFirst, data.editValueSecond)" id="changeProject" type="checkbox" />     
      <select id="newPlanItemProjectId" name="newPlanItemProjectId" [(ngModel)]="data.editValueFirst" > 
        <option style="background-color: {{proj.colorString}};" *ngFor="let proj of dtPlanner.projects" [ngValue]="proj.shortCode">{{proj.shortCode}}</option>
        </select>        
    </div>
  </div>
  <div class="dtGridColumn-2 dtBorder-R dtBorder-B dtPad-LR">    
    <div *ngIf="!(data.fieldBeingEdited == 'title' && data.itemBeingEdited == item?.id)" 
      tooltip={{data.tooltipFormatted(item?.note)}}
      (click)="data.editPlanItemStart('title', item)"        
    >    
      {{item?.title}}        
      <span *ngIf="item?.note != undefined && item?.note != null && item?.note != 'null' && item?.note != ''"         
            style="color: red"            
      >                    
        *        
      </span>
    </div>            
    <div *ngIf="data.itemBeingEdited == item?.id && data.fieldBeingEdited == 'title' && item?.completed != true"     
      class="dtPad-LR dtBorder-R dtBorder-B dtGridColumn-2"       
    >    
      <input (change)="dtPlanner.changePlanItem($event, item, data.editValueFirst, data.editValueSecond)" id="changeTitle" type="checkbox" />      
      <input type="text" [value]="data.editValueFirst" [(ngModel)]="data.editValueFirst" /><br/>      
      <span>Notes:</span><br /><textarea style="width: 100%;" rows="4" id="updPlanItemNote" name="updPlanItemNote" [(ngModel)]="data.editValueSecond" placeholder="Notes"></textarea>         
    </div>                 
  </div>
  <div class="dtGridColumn-3 dtBorder-R dtBorder-B dtPad-LR">    
    <div *ngIf="!(data.fieldBeingEdited == 'startTime' && data.itemBeingEdited == item?.id)"     
      (click)="data.editPlanItemStart('startTime', item)">       
      {{item?.startTime}}     
    </div>    
    <div *ngIf="(data.fieldBeingEdited == 'startTime' && data.itemBeingEdited == item?.id)">               
      <input style="width: 30%;" name="hours" type="number" min="0" max="24" size="2" maxlength="2"              
        (keypress)="dtPlanner.editPlanItem($event, item?.id, 'startTime', data.editValueFirst, data.editValueSecond)" [value]="data.editValueFirst" [(ngModel)]="data.editValueFirst"                  
      />:              
      <input style="width: 30%;" name="minutes" type="number" min="0" max="60" size="2" maxlength="2"                 
        (keypress)="dtPlanner.editPlanItem($event, item?.id, 'startTime', data.editValueFirst, data.editValueSecond) && data.editPlanItemEnd($event)" [value]="data.editValueSecond" [(ngModel)]="data.editValueSecond"                    
      />            
    </div>
  </div>  
  <div class="dtGridColumn-4 dtBorder-R dtBorder-B dtPad-LR">    
    <div class="dtW-100P" *ngIf="!(data.fieldBeingEdited == 'duration' && data.itemBeingEdited == item?.id)"    
      (click)="data.editPlanItemStart('duration', item)"      
    >    
      {{item?.durationString}}      
      <span *ngIf="!item?.durationString">-----------</span>    
    </div>    
    <div *ngIf="(data.fieldBeingEdited == 'duration' && data.itemBeingEdited == item?.id)">      
      <input style="width: 30%;" name="hours" type="number" min="0" max="24" size="2" maxlength="2"       
        (keypress)="dtPlanner.editPlanItem($event, item?.id, 'duration', data.editValueFirst, data.editValueSecond) && data.editPlanItemEnd($event)" [value]="data.editValueFirst" [(ngModel)]="data.editValueFirst"        
      />:       
        <input style="width: 30%;" name="minutes" type="number" min="0" max="60" size="2" maxlength="2"         
        (keypress)="dtPlanner.editPlanItem($event, item?.id, 'duration', data.editValueFirst, data.editValueSecond) && data.editPlanItemEnd($event)" [(ngModel)]="data.editValueSecond"        
      />    
    </div>
  </div>  
  <div class="dtGridColumn-5 dtBorder-R dtBorder-B dtPad-LR">    
    {{item?.recurrenceName}}  
  </div>  
  <div class="dtGridColumn-6 dtBorder-R dtBorder-B dtPad-LR">    
    {{item?.recurrenceData}}  
  </div>  
  <div class="dtGridColumn-7 dtDFlex dtBg-darkgray dtBorder-B dtPad-LR">                
    <span class="dtFont-White" *ngIf="dtPlanner.updateStatus != ''">{{dtPlanner.updateStatus}}</span>    
    <mat-icon class="dtCen dtFont-White dtMatButton dtBorder-W"
      *ngIf="dtPlanner.updateStatus == ''"
      tooltip="delete" (click)="dtPlanner.deleteRecurrence(item)"         
    >      
      highlight_off
    </mat-icon>    
    <mat-icon class="dtCen dtFont-White dtMatButton dtBorder-W"
      *ngIf="dtPlanner.updateStatus == ''"
      tooltip="propagate" (click)="dtPlanner.propagateRecurrence(item?.id!)"         
    >      
      import_export
    </mat-icon>    
  </div>
</div>
