<div [ngClass]="data.isMobile ? 'dtGrid-9P25P14P14P14P14P14P' : 'dtGrid-7P33P14P14P13P12P7P'">
  <div *ngIf="data.targetPlanItem.id != item.id" 
    class="dtGridColumn-1 dtCen dtBorder-R dtBorder-B"
    style="background-color: {{ item.project?.colorString ?? 'white'}}; "
  >
    {{item.project?.shortCode ?? ""}}
  </div>
  <div *ngIf="data.targetPlanItem.id == item.id && item.completed != true" 
    class="dtCen dtGridColumn-1 dtBorder-R dtBorder-B"     
  >
    <select id="updPlanItemProjectId" name="updPlanItemProjectId" 
      (change)="data.targetPlanItem.touched = true"
      [value]="data.targetPlanItem.projectMnemonic" 
      [(ngModel)]="data.targetPlanItem.projectMnemonic" 
    > 
        <option style="background-color: {{proj.colorString}};" 
          *ngFor="let proj of dtPlanner.projects" [ngValue]="proj.id"
          [value]="proj.shortCode"
        >
          {{proj.title}}
        </option>
      </select>          
  </div>
  <div *ngIf="data.targetPlanItem.id != item.id" 
    class="dtPad-LR dtGridColumn-2 dtBorder-R dtBorder-B" 
    tooltip={{data.tooltipForTitle(item)}}
    (click)="data.editPlanItemStart('title', item)"
    style="background-color: {{item.statusColor}}">
      {{item.title}} 
      <span *ngIf="item?.note != undefined && item?.note != null && item?.note != 'null' && item?.note != ''" style="color: red">
        *
      </span>
  </div>                 
  <div *ngIf="data.targetPlanItem.id == item.id && item.completed != true" 
    class="dtPad-LR dtGridColumn-2 dtBorder-R dtBorder-B" 
    style="background-color: {{item.statusColor}}">
      <input type="text" [value]="data.targetPlanItem.title" [(ngModel)]="data.targetPlanItem.title"
        (change)="data.targetPlanItem.touched = true" 
      /><br />
      <input type="number" [value]="data.targetPlanItem.priority" [(ngModel)]="data.targetPlanItem.priority" 
        (change)="data.targetPlanItem.touched = true"
      /><br />
      <span>Notes:</span><br />
        <textarea style="width: 100%;" rows="4" id="updPlanItemNote" name="updPlanItemNote" 
          (change)="data.targetPlanItem.touched = true"
          [value]="data.targetPlanItem.note" [(ngModel)]="data.targetPlanItem.note" placeholder="Notes">
        </textarea>         
  </div>                 
  <div *ngIf="data.targetPlanItem.id != item.id" 
    class="dtCen dtGridColumn-3 dtBorder-R dtBorder-B" 
    tooltip={{data.tooltipBool(item.fixedStart)}}
    (click)="data.editPlanItemStart('startTime', item)"
    style="background-color: {{item.statusColor}};">    
      {{item.startTime}}
      <span *ngIf="item.fixedStart != undefined && item.fixedStart" style="color: red">
        *
      </span>
  </div>
  <div *ngIf="data.targetPlanItem.id == item.id && item.completed != true" 
    class="dtCen dtGridColumn-3 dtBorder-R dtBorder-B" 
    style="background-color: {{item.statusColor}};"
  >  
    <input style="width: 20%;" name="hours" type="number" min="0" max="24" size="2" maxlength="2"
      (change)="data.targetPlanItem.touched = true"                  
      [value]="data.targetPlanItem.startHour" [(ngModel)]="data.targetPlanItem.startHour"      
    />:              
      <input style="width: 20%;" name="minutes" type="number" min="0" max="60" size="2" maxlength="2"                 
        (change)="data.targetPlanItem.touched = true"    
        [value]="data.targetPlanItem.startMinutes" [(ngModel)]="data.targetPlanItem.startMinutes"                  
      />            
      <br />
      <input type="checkbox" 
        (change)="data.targetPlanItem.touched = true"
        [checked]="data.targetPlanItem.fixedStart" 
        (change)="data.targetPlanItem.fixedStart = !data.targetPlanItem.fixedStart" 
      />
      Fixed
  </div>
  <div *ngIf="data.targetPlanItem.id != item.id" 
    class="dtCen dtGridColumn-4 dtBorder-R dtBorder-B"                   
    style="background-color: {{item.statusColor}};">                  
    <div class="dtW-100P" 
      *ngIf="data.targetPlanItem.id != item.id"                
    >    
      {{item.durationString}}      
      <span *ngIf="!item.durationString">-----------</span>    
  </div>
  </div>    
  <div *ngIf="data.targetPlanItem.id == item.id"
    class="dtCen dtGridColumn-4 dtPad-LR dtBorder-R dtBorder-B"                   
    style="background-color: {{item.statusColor}};"
  >      
    <input style="width: 30%;" name="hours" type="number" min="0" max="24" size="2" maxlength="2"       
      (change)="data.targetPlanItem.touched = true"
      [value]="data.targetPlanItem.durationHour" [(ngModel)]="data.targetPlanItem.durationHour"
    />:         
    <input style="width: 30%;" name="minutes" type="number" min="0" max="60" size="2" maxlength="2"             
      (change)="data.targetPlanItem.touched = true"
      [value]="data.targetPlanItem.durationMinutes" [(ngModel)]="data.targetPlanItem.durationMinutes"           
    />    
  </div>
  <div class="dtGridColumn-5 dtBorder-R dtBorder-B dtPad-LR">    
    {{item.recurrenceName}}  
  </div>  
  <div class="dtGridColumn-6 dtBorder-R dtBorder-B dtPad-LR">    
    {{item.recurrenceData}}  
  </div>  
  <div class="dtGridColumn-7 dtDFlex dtBg-darkgray dtBorder-B dtPad-LR">                
    <span class="dtFont-White" *ngIf="dtPlanner.updateStatus != ''">{{dtPlanner.updateStatus}}</span>    
    <mat-icon class="dtCen dtFont-White dtMatButton dtBorder"
      *ngIf="dtPlanner.updateStatus == '' && data.targetPlanItem.id != item.id && !item.completed"
      tooltip="edit" (click)="data.targetPlanItem = item"
    >
      mode_edit
    </mat-icon>
    <mat-icon class="dtCen dtFont-White dtMatButton dtBorder"
      *ngIf="dtPlanner.updateStatus == '' && data.targetPlanItem.id != item.id"
      tooltip="delete" (click)="dtPlanner.deleteRecurrence(item)"         
    >      
      highlight_off
    </mat-icon>    
    <mat-icon class="dtCen dtFont-White dtMatButton dtBorder"
      *ngIf="dtPlanner.updateStatus == '' && data.targetPlanItem.id != item.id"
      tooltip="propagate" (click)="dtPlanner.propagateRecurrence(item.id!)"         
    >      
      import_export
    </mat-icon>     
    <mat-icon class="dtCen dtFont-White dtMatButton dtBorder"
    *ngIf="dtPlanner.updateStatus == '' && data.targetPlanItem.id == item.id"
    tooltip="submit" (click)="dtPlanner.updateFromItem(data.targetPlanItem) && data.clearPlanItem(false)"
    >
      post_add
    </mat-icon>
</div>
</div>
