/* You can add global styles to this file, and also import other style files */
.deleteAnchor {
    color: red;
    text-decoration: underline;
}

.dtBg-darkgray {
    background-color: darkgray;
}

.dtBg-gray {
    background-color: gray;
}

.dtBorder {
    border: 2px solid black;
}

.dtBorder-B {
    border-bottom: 2px solid black;
}

.dtBorder-R {
    border-right: 2px solid black;
}

.dtBorder-T {
  border-top: 2px solid black;
}

.dtBorder-L {
    border-left: 2px solid black;
}

.dtBorder-LR {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dtBorder-LRB {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dtBorder-LRT {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dtBorder-W {
  border: 1px solid white;
}

.dtBtn {
    padding-top: 10px;
    padding-bottom: 10px;
}

.dtCen {
    text-align: center;
}

.dtDFlex {
  display: flex;
}

.dtFont-White {
  color: white;
}

// Grids
.dtGrid-100P {
    display: grid;
    grid-template-columns: 100%;
}

.dtGrid-15P83P {
    display: grid; 
    grid-template-columns: 15% 83%; 
}

.dtGrid-15P40P43P {
  display: grid; 
  grid-template-columns: 15% 40% 43%; 
}

.dtGrid-15P60P23P {
  display: grid; 
  grid-template-columns: 15% 60% 23%; 
}

.dtGrid-25P75P {
    display: grid;
    grid-template-columns: 25% 75%;
}

.dtGrid-4P7P35P15P15P15P9P {
    display: grid; 
    grid-template-columns: 4% 7% 35% 15% 15% 15% 9%;
}

.dtGrid-4P7P50P15P15P9P {
    display: grid; 
    grid-template-columns: 4% 7% 50% 15% 15% 9%;
}

.dtGrid-7P33P13P13P13P13P8P {
    display: grid; 
    grid-template-columns: 7% 33% 13% 13% 13% 13% 8%;
}

.dtGrid-7P33P12P12P17P12P7P {
  display: grid; 
  grid-template-columns: 7% 33% 12% 12% 17% 12% 7%;
}

.dtGrid-7P33P14P14P13P12P7P {
  display: grid; 
  grid-template-columns: 7% 33% 14% 14% 13% 12% 7%;
}

.dtHilight:nth-child(even) {
    background-color: gainsboro;
}

.dtGrid-25V24V24V2V
{
    display: grid; 
    grid-template-columns: 25vw 24vw 24vw 24vw;
}

.dtGrid-30P40P30P {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.dtGrid-98V {
    display: grid;
    grid-template-columns: 98vw;
}

.dtGridColumn-1 {
    grid-column: 1;
}

.dtGridColumn-1s3 {
  grid-column: 1 / span 3;
}

.dtGridColumn-1s4 {
  grid-column: 1 / span 4;
}

.dtGridColumn-2 {
    grid-column: 2;
}

.dtGridColumn-3 {
    grid-column: 3;
}

.dtGridColumn-4 {
    grid-column: 4;
}

.dtGridColumn-5 {
    grid-column: 5;
}

.dtGridColumn-6 {
    grid-column: 6;
}

.dtGridColumn-7 {
    grid-column: 7;
}

.dtGridColumn-8 {
    grid-column: 8;
}

.dtMatButton {
  height: 16px !important;
  width: 16px !important;
  font-size: 16px;
}

.dtPad-DeepL{
  padding-left: 50px;
}

.dtPad-LR {
    padding-left: 10px;
    padding-right: 10px;
}

.dtPad-T {
  padding-top: 2px;
}

.dtPad-LR-M {
    padding-left: 2px;
    padding-right: 2px;
}

// Vertical Align
.dtVA-T {
    vertical-align: top;
}

// Widths
.dtW-100P {
    width: 100%;
}

.dtW-30P {
  width: 30%;
}

.dtW-40P {
    width: 40%;
}

.dtW-98V {
    width: 98vw;
}

.dtW-100V {
    width: 100vw;
}



